.card {
  position: relative;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.card .front,  .card .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 3rem;
  backface-visibility: hidden;
  border: 1px solid #000000;

  /* box shadow */
  box-shadow: 0px 6px 5px 0px #864601;
  -webkit-box-shadow: 0px 6px 5px 0px #474747;
  -moz-box-shadow: 0px 6px 5px 0px #474747;
}

.card .front {
  background: #12af94;
  color: #ffffff;
  z-index: 2;
  transform: rotateY(0deg);
}

.card .back {
  background: white;
}

.card[data-flip-status="FLIPPED"], .card[data-flip-status="MATCHED"], .back{
  transform: rotateY(180deg);
}

.card[data-flip-status="MATCHED"] .back{
  opacity: 0.2;
  border: 3px dashed red;
}